/backend/.bundle
/backend/.env*
!/backend/.env*.erb
/backend/log/*
!/backend/log/.keep
/backend/tmp/*
!/backend/tmp/.keep
/backend/tmp/pids/*
!/backend/tmp/pids/
!/backend/tmp/pids/.keep
/backend/storage/*
!/backend/storage/.keep
/backend/tmp/storage/*
!/backend/tmp/storage/
!/backend/tmp/storage/.keep
/backend/config/master.key

/frontend/.bundle
/frontend/.env*
!/frontend/.env*.erb
/frontend/log/*
!/frontend/log/.keep
/frontend/tmp/*
!/frontend/tmp/.keep
/frontend/tmp/pids/*
!/frontend/tmp/pids/
!/frontend/tmp/pids/.keep
/frontend/storage/*
!/frontend/storage/.keep
/frontend/tmp/storage/*
!/frontend/tmp/storage/
!/frontend/tmp/storage/.keep
/frontend/config/mas
